.scrollToTop {
    border-radius: 10px;
    width: 75px;
    height: 35px;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    position: fixed;
    top: 205px;
    right: 40px;
    display: none;
    z-index:999;
background: url('files/btt.png') no-repeat 52px -36px;

}